.DS_Store
*.swp
.project
.idea/
.vscode/
npm-debug.log
.jshintrc
.vs/

MathTrauma.github.io/unit/build
MathTrauma.github.io/treeshake/index-src.bundle.min.js
MathTrauma.github.io/treeshake/index.bundle.js
MathTrauma.github.io/treeshake/index.bundle.min.js
MathTrauma.github.io/treeshake/index.webgpu.bundle.js
MathTrauma.github.io/treeshake/index.webgpu.bundle.min.js
MathTrauma.github.io/treeshake/index.webgpu.nodes.bundle.js
MathTrauma.github.io/treeshake/index.webgpu.nodes.bundle.min.js
MathTrauma.github.io/treeshake/stats.html
MathTrauma.github.io/e2e/chromium
MathTrauma.github.io/e2e/output-screenshots


**/dist
**/dist-ssr
**/node_modules
**/docs_new