name: Acquire Unity License
on:
  workflow_dispatch: {}

jobs:
  acquire-license:
    name: Acquire Unity License
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 2022.3.10f1

      - name: Upload activation file
        uses: actions/upload-artifact@v3
        with:
          name: Manual Activation File
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}