name: Acquire activation file
on:
  workflow_dispatch: {}

jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  # ✅ v4
      
      - uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        
      - uses: actions/upload-artifact@v4  # ✅ v4
        with:
          name: Manual Activation File
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}